.menu-list {

  width: fit-content;
  opacity: 1;
  /*display: none;*/
  transition: all 0.3s;
  transform: translateX(0);
}
@media (max-width: 767px) {
  .menu-list {
    /*opacity: 0;*/
    transform: translateX(-100%);
    /*display: none;*/
  }
  #mainContent{
    position: relative;
    width: 100%;
    flex: 1 1 ;
  }
}
