#main{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex: 1
}
aside{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 306px;
  min-width: 200px;
  flex: 1 2 ;
  height: 100%;
  transition: all 0.3s;
  border-right: 2px solid rgba(128, 128, 128, 0.15);
}
#mainContent{
  position: relative;

  flex: 2 1 ;
}

@media (max-width: 767px) {
  aside {
    transform: translateX(-100%);
    min-width: 0;
    flex: 0 ;
  }
  #mainContent{
    position: relative;
    width: 100%;
    flex: 1 1 ;
  }
}



